## SPDX-FileCopyrightText: 2025 Birger Schacht <birger@rantanplan.org>
## SPDX-License-Identifier: MIT
{% if cli.action.agenda -%}
Agenda:
{% for event in event_instances -%}
{{ event.stylestr }}* {{ event.date|dateformat }}: {{ event.event.summary }}{{ reset_style() }}
{% endfor -%}
{% endif -%}
