{%- if day -%}{{ day.style }}{% if cli.julian %}{{ day.date|dateformat(format="[ordinal]") }}{% else %}{{ day.date|dateformat(format="[day]") }}{% endif %}{{ reset_style() }}{%- else %}  {% endif -%}
