## calendar.tmpl
## This is the main template file for the calendar output
## We first set some helper variables
## The first_seven_dates are used for displaying the weekdays
{%- set dates = dates_per_month|dates_to_columns(columns) -%}
{%- set first_seven_dates = dates[0][0][0:7] -%}
{%- for row in dates -%}
{% set number_of_columns = row[0]|length/7 %}
{% for num in range(0, number_of_columns) -%}{% set month = row[1][num*7] %}{% include "month_header.tmpl" %}{% endfor %}
{% for num in range(0, number_of_columns) -%}{% include "weekdays.tmpl" %} {% endfor %}
{% for line in row -%}
{% for day in line -%}
{% include "calendar_day.tmpl" %}
{%- if loop.index % 7 == 0 %}  {% else %} {% endif %}
{%- endfor %}
{% endfor %}
{%- endfor %}
