## SPDX-FileCopyrightText: 2025 Birger Schacht <birger@rantanplan.org>
## SPDX-License-Identifier: MIT
##
## carl.tmpl
{% if cli.action.calendar -%}{% include "calendar.tmpl" %}{% endif -%}
{% if cli.action.agenda -%}{% include "agenda.tmpl" %}{% endif -%}
{% if cli.action.yearprogress -%}{% include "yearprogress.tmpl" %}{% endif -%}
