## SPDX-FileCopyrightText: 2025 Birger Schacht <birger@rantanplan.org>
## SPDX-License-Identifier: MIT
##
## yearprogress.tmpl
{%- set year = main_date | dateformat(format="[year]") -%}
{%- set percentage = "" ~ main_date | percentage_of_year -%}
{%- set days_left = main_date | days_in_year_left -%}
{{ style(['Bold']) }}Yearprogress ({{ year }}):{{ reset_style() }}
{{ percentage[:6] }}% of {{ year }}
Day number {{ main_date | dateformat(format="[ordinal]") }}, {{ days_left }} left

